[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SQLAlchemy = "*"
DateTime = "*"
yfinance = "*"
streamlit = "==0.63"

[dev-packages]

[requires]
python_version = "3.8"
